body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
  }
  
  /* .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  } */
 
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  } 
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #252074;
    color: white;
  }
  /* einde header aka the boring stuff */
/* start content aka the juicy stuff */
.option{
margin-left: 20%;
margin-right: 20%;
margin-top: 30px;

text-align: center;
min-height: 90px;
min-width: 60%;
border: black 1px;
border-style: solid;
}
.photo_option{
margin-left: 40%;
margin-right: 60%;
text-align: center;
border: black 1px;
border-style: solid;
border-radius: 100%;
height: 50px;
width: 50px;
transform:translateY(-25px);
}
